<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(pageTitle)">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title th:text="${pageTitle} + ' – Mocktail'">Mocktail</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"/>
  <!-- App styles -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" th:href="@{/css/badges.css}"/>
</head>
</html>
